Repository tedilabs/terraform-aws-misc, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: resource-group, :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

.github/labeler.yaml:

# Modules
":floppy_disk: resource-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/resource-group/**/*

":floppy_disk: s3-archive-bucket":
- changed-files:
  - any-glob-to-any-file:
    - modules/s3-archive-bucket/**/*

":floppy_disk: sqs-aws-event-queue":
- changed-files:
  - any-glob-to-any-file:
    - modules/sqs-aws-event-queue/**/*

Update dependabot
  .github/dependabot.yml
Labels: none

Update lint configurations
  .editorconfig
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

chore: update pre-commit configurations
  .pre-commit-config.yaml
  .tflint.hcl
  modules/resource-group/README.md
  modules/s3-archive-bucket/README.md
  modules/sqs-aws-event-queue/README.md
Labels: :floppy_disk: resource-group, :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

chore: update copyright year to 2025
  README.md
Labels: none

chore: update copyright year to 2025 (#49)
  README.md
Labels: none

feat(resource-group): support region variable for aws provider v6
  modules/resource-group/README.md
  modules/resource-group/main.tf
  modules/resource-group/outputs.tf
  modules/resource-group/variables.tf
  modules/resource-group/versions.tf
Labels: :floppy_disk: resource-group

chore: bump to v0.12.0
  VERSION
Labels: none

feat: improve how to use resource_group in modules
  modules/s3-archive-bucket/outputs.tf
  modules/s3-archive-bucket/resource-group.tf
  modules/s3-archive-bucket/variables.tf
  modules/sqs-aws-event-queue/outputs.tf
  modules/sqs-aws-event-queue/resource-group.tf
  modules/sqs-aws-event-queue/variables.tf
Labels: :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

feat: improve how to use resource_group in modules (#50)
  modules/s3-archive-bucket/outputs.tf
  modules/s3-archive-bucket/resource-group.tf
  modules/s3-archive-bucket/variables.tf
  modules/sqs-aws-event-queue/outputs.tf
  modules/sqs-aws-event-queue/resource-group.tf
  modules/sqs-aws-event-queue/variables.tf
Labels: :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

chore: update dependencies
  modules/resource-group/README.md
  modules/resource-group/versions.tf
Labels: :floppy_disk: resource-group

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .github/workflows/yaml.integration.yaml via Terraform
  .github/workflows/yaml.integration.yaml
Labels: none

Remove deprecated pull-request-labeler.yaml workflow
  .github/workflows/pull-request-labeler.yaml
Labels: none

Remove deprecated sync-labels.yaml workflow
  .github/workflows/sync-labels.yaml
Labels: none

Remove deprecated GitHub Actions workflows (#51)
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/sync-labels.yaml
Labels: none

chore: update .tflint.hcl via Terraform
  .tflint.hcl
Labels: none

chore: update .github/dependabot.yml via Terraform
  .github/dependabot.yml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

Update labels.yaml with standard sections
  .github/labels.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml
  .github/workflows/welcome.yaml
Labels: none

chore: remove deprecated workflow file welcome.yaml (#55)
  .github/workflows/welcome.yaml
Labels: none

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

chore: update .github/workflows/github.repo.yaml via Terraform
  .github/workflows/github.repo.yaml
Labels: none

chore: update .github/labels.common.yaml via Terraform
  .github/labels.common.yaml
Labels: none

chore: remove common labels from labels.yaml
  .github/labels.yaml
Labels: none

chore: update .editorconfig via Terraform
  .editorconfig
Labels: none

chore: update copyright year to 2026
  README.md
Labels: none

chore: update copyright year to 2026 (#57)
  README.md
Labels: none

chore: fix module labels in .github/labels.yaml
  .github/labels.yaml
Labels: none

chore: fix module labels in .github/labels.yaml (#58)
  .github/labels.yaml
Labels: none

docs: add CLAUDE.md for AI-assisted development guidelines
  CLAUDE.md
Labels: none

chore: add CLAUDE.md for AI-assisted development
  CLAUDE.md
Labels: none

chore: update .terraform-docs.yml via Terraform
  .terraform-docs.yml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .pre-commit-config.yaml via Terraform
  .pre-commit-config.yaml
Labels: none

docs: regenerate terraform-docs with shared config
  modules/resource-group/README.md
  modules/s3-archive-bucket/README.md
  modules/sqs-aws-event-queue/README.md
Labels: :floppy_disk: resource-group, :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

docs: regenerate terraform-docs with shared config (#60)
  modules/resource-group/README.md
  modules/s3-archive-bucket/README.md
  modules/sqs-aws-event-queue/README.md
Labels: :floppy_disk: resource-group, :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue
