Repository tedilabs/terraform-aws-misc, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: kms-cmk, :floppy_disk: msk-cluster, :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

.github/labeler.yaml:

# Modules
":floppy_disk: kms-cmk":
- modules/kms-cmk/**/*

":floppy_disk: msk-cluster":
- modules/msk-cluster/**/*

":floppy_disk: s3-archive-bucket":
- modules/s3-archive-bucket/**/*

":floppy_disk: sqs-aws-event-queue":
- modules/sqs-aws-event-queue/**/*

Bump v0.6.0
  VERSION
Labels: none

Enable public_access_block_enabled as default
  VERSION
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/variables.tf
Labels: :floppy_disk: s3-archive-bucket

Fix lifecycle_rules variable for s3-archive-bucket module
  VERSION
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/variables.tf
Labels: :floppy_disk: s3-archive-bucket

Add lifecycle for msk-cluster module
  modules/msk-cluster/main.tf
Labels: :floppy_disk: msk-cluster

Add ci pipeline
  .github/workflows/integration.yaml
  .yamllint.yaml
Labels: none

Improve yaml integration
  .github/workflows/integration.yaml
Labels: none

Hello, 2022
  README.md
Labels: none

Hello, 2022 (#1)
  README.md
Labels: none

Fix typo in sync-labels action
  .github/workflows/sync-labels.yaml
Labels: none

Fix workflow permission for contributors
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/welcome.yaml
Labels: none

Add dependabot.yml
  .github/dependabot.yml
Labels: none

Add dependabot.yml (#2)
  .github/dependabot.yml
Labels: none

Support manual trigger for sync-labels action
  .github/workflows/sync-labels.yaml
Labels: none

Support manual trigger for sync-labels action (#5)
  .github/workflows/sync-labels.yaml
Labels: none

Fix and upgrade pre-commit config
  .pre-commit-config.yaml
Labels: none

Fix and upgrade pre-commit config (#7)
  .pre-commit-config.yaml
Labels: none

Add resource-group module
  modules/resource-group/README.md
  modules/resource-group/main.tf
  modules/resource-group/outputs.tf
  modules/resource-group/variables.tf
  modules/resource-group/versions.tf
Labels: none

Divide aws_s3_bucket_versioning resource
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/main.tf
  modules/s3-archive-bucket/outputs.tf
  modules/s3-archive-bucket/variables.tf
  modules/s3-archive-bucket/versioning.tf
  modules/s3-archive-bucket/versions.tf
Labels: :floppy_disk: s3-archive-bucket

Divide aws_s3_bucket_accelerate_configuration resource
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/main.tf
  modules/s3-archive-bucket/outputs.tf
  modules/s3-archive-bucket/transfer-acceleration.tf
  modules/s3-archive-bucket/variables.tf
  modules/s3-archive-bucket/versioning.tf
Labels: :floppy_disk: s3-archive-bucket

Refactor public access block configuration for s3-archive-bucket module
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/acl.tf
  modules/s3-archive-bucket/main.tf
  modules/s3-archive-bucket/outputs.tf
  modules/s3-archive-bucket/variables.tf
Labels: :floppy_disk: s3-archive-bucket

Divide aws_s3_bucket_server_side_encryption_configuration resource
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/main.tf
  modules/s3-archive-bucket/outputs.tf
Labels: :floppy_disk: s3-archive-bucket

Divide aws_s3_bucket_request_payment_configuration resource
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/outputs.tf
  modules/s3-archive-bucket/request-payment.tf
Labels: :floppy_disk: s3-archive-bucket

Refactor aws_s3_bucket_ownership_controls resource
  modules/s3-archive-bucket/acl.tf
  modules/s3-archive-bucket/main.tf
Labels: :floppy_disk: s3-archive-bucket

Divide aws_s3_bucket_logging resource
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/logging.tf
  modules/s3-archive-bucket/main.tf
  modules/s3-archive-bucket/outputs.tf
  modules/s3-archive-bucket/variables.tf
Labels: :floppy_disk: s3-archive-bucket

Divide aws_s3_bucket_acl resource
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/acl.tf
  modules/s3-archive-bucket/main.tf
  modules/s3-archive-bucket/outputs.tf
Labels: :floppy_disk: s3-archive-bucket

Divide aws_s3_bucket_versioning resource (#17)
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/acl.tf
  modules/s3-archive-bucket/logging.tf
  modules/s3-archive-bucket/main.tf
  modules/s3-archive-bucket/outputs.tf
  modules/s3-archive-bucket/request-payment.tf
  modules/s3-archive-bucket/transfer-acceleration.tf
  modules/s3-archive-bucket/variables.tf
  modules/s3-archive-bucket/versioning.tf
  modules/s3-archive-bucket/versions.tf
Labels: :floppy_disk: s3-archive-bucket

Bump to v0.7.0
  VERSION
Labels: none

Divide aws_s3_bucket_lifecycle_configuration resource
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/access-control.tf
  modules/s3-archive-bucket/lifecycle.tf
  modules/s3-archive-bucket/main.tf
  modules/s3-archive-bucket/outputs.tf
  modules/s3-archive-bucket/variables.tf
  modules/s3-archive-bucket/versioning.tf
Labels: :floppy_disk: s3-archive-bucket

Support empty lifecycle rules for s3-archive-bucket
  modules/s3-archive-bucket/lifecycle.tf
  modules/s3-archive-bucket/outputs.tf
Labels: :floppy_disk: s3-archive-bucket

Support empty lifecycle rules for s3-archive-bucket (#19)
  modules/s3-archive-bucket/lifecycle.tf
  modules/s3-archive-bucket/outputs.tf
Labels: :floppy_disk: s3-archive-bucket

Bump to v0.7.1
  VERSION
Labels: none

Fix invalid versioning_mfa_deletion variable on s3-archive-bucket module
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/lifecycle.tf
  modules/s3-archive-bucket/variables.tf
Labels: :floppy_disk: s3-archive-bucket

Fix invalid versioning_mfa_deletion variable on s3-archive-bucket module (#20)
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/lifecycle.tf
  modules/s3-archive-bucket/variables.tf
Labels: :floppy_disk: s3-archive-bucket

Bump to v0.7.2
  VERSION
Labels: none

Support policy for s3-archive-bucket
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/access-control.tf
  modules/s3-archive-bucket/variables.tf
Labels: :floppy_disk: s3-archive-bucket

Support policy for s3-archive-bucket (#21)
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/access-control.tf
  modules/s3-archive-bucket/variables.tf
Labels: :floppy_disk: s3-archive-bucket

Bump to v0.7.3
  VERSION
Labels: none
