Repository tedilabs/terraform-aws-misc, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: resource-group, :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: update .github/workflows/github-actions.integration.yaml via Terraform
  .github/workflows/github-actions.integration.yaml
Labels: none

chore: update .mise/conf.d/common.toml via Terraform
  .mise/conf.d/common.toml
Labels: none

chore: update .github/workflows/terraform.integration.yaml via Terraform
  .github/workflows/terraform.integration.yaml
Labels: none

chore: remove excessive blank lines around resource_group variable
  modules/s3-archive-bucket/variables.tf
  modules/sqs-aws-event-queue/variables.tf
Labels: :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

chore(s3-archive-bucket): require terraform >= 1.12
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/versions.tf
Labels: :floppy_disk: s3-archive-bucket

chore(sqs-aws-event-queue): require terraform >= 1.12
  modules/sqs-aws-event-queue/README.md
  modules/sqs-aws-event-queue/versions.tf
Labels: :floppy_disk: sqs-aws-event-queue

chore(s3-archive-bucket): require terraform >= 1.12 (#62)
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/versions.tf
Labels: :floppy_disk: s3-archive-bucket

chore(sqs-aws-event-queue): require terraform >= 1.12 (#63)
  modules/sqs-aws-event-queue/README.md
  modules/sqs-aws-event-queue/versions.tf
Labels: :floppy_disk: sqs-aws-event-queue

feat: collect module usage telemetry
  modules/resource-group/README.md
  modules/resource-group/telemetry.tf
  modules/resource-group/versions.tf
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/telemetry.tf
  modules/s3-archive-bucket/versions.tf
  modules/sqs-aws-event-queue/README.md
  modules/sqs-aws-event-queue/telemetry.tf
  modules/sqs-aws-event-queue/versions.tf
Labels: :floppy_disk: resource-group, :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

feat: collect module usage telemetry (#64)
  modules/resource-group/README.md
  modules/resource-group/telemetry.tf
  modules/resource-group/versions.tf
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/telemetry.tf
  modules/s3-archive-bucket/versions.tf
  modules/sqs-aws-event-queue/README.md
  modules/sqs-aws-event-queue/telemetry.tf
  modules/sqs-aws-event-queue/versions.tf
Labels: :floppy_disk: resource-group, :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

fix: honor telemetry opt-out
  modules/resource-group/telemetry.tf
  modules/s3-archive-bucket/telemetry.tf
  modules/sqs-aws-event-queue/telemetry.tf
Labels: :floppy_disk: resource-group, :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

fix: honor telemetry opt-out (#65)
  modules/resource-group/telemetry.tf
  modules/s3-archive-bucket/telemetry.tf
  modules/sqs-aws-event-queue/telemetry.tf
Labels: :floppy_disk: resource-group, :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

chore: update .github/workflows/github.pr.yaml via Terraform
  .github/workflows/github.pr.yaml
Labels: none

feat: support pseudonymization and HCP Terraform metadata in telemetry
  modules/resource-group/README.md
  modules/resource-group/telemetry.tf
  modules/resource-group/versions.tf
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/telemetry.tf
  modules/s3-archive-bucket/versions.tf
  modules/sqs-aws-event-queue/README.md
  modules/sqs-aws-event-queue/telemetry.tf
  modules/sqs-aws-event-queue/versions.tf
Labels: :floppy_disk: resource-group, :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

.github/labeler.yaml:

# Modules
":floppy_disk: resource-group":
- changed-files:
  - any-glob-to-any-file:
    - modules/resource-group/**/*

":floppy_disk: s3-archive-bucket":
- changed-files:
  - any-glob-to-any-file:
    - modules/s3-archive-bucket/**/*

":floppy_disk: sqs-aws-event-queue":
- changed-files:
  - any-glob-to-any-file:
    - modules/sqs-aws-event-queue/**/*
