Repository tedilabs/terraform-aws-misc, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: msk-cluster, :floppy_disk: resource-group, :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

Bump to v0.7.4
  VERSION
Labels: none

Fix bucket policy of s3-archive-bucket module for elb logging
  modules/s3-archive-bucket/policies.tf
Labels: :floppy_disk: s3-archive-bucket

Fix bucket policy of s3-archive-bucket module for elb logging (#22)
  modules/s3-archive-bucket/policies.tf
Labels: :floppy_disk: s3-archive-bucket

Update msk-cluster to support up-to-date features
  modules/msk-cluster/README.md
  modules/msk-cluster/cluster.tf
  modules/msk-cluster/outputs.tf
  modules/msk-cluster/security-group.tf
  modules/msk-cluster/variables.tf
  modules/msk-cluster/versions.tf
Labels: :floppy_disk: msk-cluster

Update msk-cluster to support up-to-date features (#23)
  modules/msk-cluster/README.md
  modules/msk-cluster/cluster.tf
  modules/msk-cluster/outputs.tf
  modules/msk-cluster/security-group.tf
  modules/msk-cluster/variables.tf
  modules/msk-cluster/versions.tf
Labels: :floppy_disk: msk-cluster

Bump to v0.8.0
  VERSION
Labels: none

Support SASL/SCRAM for msk-cluster module
  modules/msk-cluster/README.md
  modules/msk-cluster/cluster.tf
  modules/msk-cluster/outputs.tf
  modules/msk-cluster/scram-secrets.tf
  modules/msk-cluster/variables.tf
  modules/msk-cluster/versions.tf
Labels: :floppy_disk: msk-cluster

Support SASL/SCRAM for msk-cluster module (#24)
  modules/msk-cluster/README.md
  modules/msk-cluster/cluster.tf
  modules/msk-cluster/outputs.tf
  modules/msk-cluster/scram-secrets.tf
  modules/msk-cluster/variables.tf
  modules/msk-cluster/versions.tf
Labels: :floppy_disk: msk-cluster

Bump to v0.9.0
  VERSION
Labels: none

Add cloudwatch-log-group module
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/main.tf
  modules/cloudwatch-log-group/outputs.tf
  modules/cloudwatch-log-group/resource-group.tf
  modules/cloudwatch-log-group/variables.tf
  modules/cloudwatch-log-group/versions.tf
Labels: none

Add cloudwatch-log-group module (#25)
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/main.tf
  modules/cloudwatch-log-group/outputs.tf
  modules/cloudwatch-log-group/resource-group.tf
  modules/cloudwatch-log-group/variables.tf
  modules/cloudwatch-log-group/versions.tf
Labels: none

Bump to v0.10.0
  VERSION
Labels: none

Remove cloudwatch-log-group module
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/main.tf
  modules/cloudwatch-log-group/outputs.tf
  modules/cloudwatch-log-group/resource-group.tf
  modules/cloudwatch-log-group/variables.tf
  modules/cloudwatch-log-group/versions.tf
Labels: none

Remove cloudwatch-log-group module (#26)
  modules/cloudwatch-log-group/README.md
  modules/cloudwatch-log-group/main.tf
  modules/cloudwatch-log-group/outputs.tf
  modules/cloudwatch-log-group/resource-group.tf
  modules/cloudwatch-log-group/variables.tf
  modules/cloudwatch-log-group/versions.tf
Labels: none

Fix error on outputs of msk-cluster module when provisioned_throughput is false
  modules/msk-cluster/outputs.tf
Labels: :floppy_disk: msk-cluster

Fix error on outputs of msk-cluster module when provisioned_throughput is disabled (#27)
  modules/msk-cluster/cluster.tf
  modules/msk-cluster/outputs.tf
Labels: :floppy_disk: msk-cluster

Bump to v0.10.1
  VERSION
Labels: none

Use module instead of resource for resource group
  modules/msk-cluster/README.md
  modules/msk-cluster/migrations.tf
  modules/msk-cluster/resource-group.tf
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/migrations.tf
  modules/s3-archive-bucket/resource-group.tf
  modules/s3-archive-bucket/versions.tf
  modules/sqs-aws-event-queue/README.md
  modules/sqs-aws-event-queue/resource-group.tf
  modules/sqs-aws-event-queue/versions.tf
Labels: :floppy_disk: msk-cluster, :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

Use module instead of resource for resource group (#29)
  modules/msk-cluster/README.md
  modules/msk-cluster/migrations.tf
  modules/msk-cluster/resource-group.tf
  modules/s3-archive-bucket/README.md
  modules/s3-archive-bucket/migrations.tf
  modules/s3-archive-bucket/resource-group.tf
  modules/s3-archive-bucket/versions.tf
  modules/sqs-aws-event-queue/README.md
  modules/sqs-aws-event-queue/resource-group.tf
  modules/sqs-aws-event-queue/versions.tf
Labels: :floppy_disk: msk-cluster, :floppy_disk: s3-archive-bucket, :floppy_disk: sqs-aws-event-queue

Hello, 2023
  README.md
Labels: none

Introduce tflint
  .github/workflows/integration.yaml
  .github/workflows/terraform.integration.yaml
  .github/workflows/yaml.integration.yaml
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

Introduce tflint (#30)
  .github/workflows/integration.yaml
  .github/workflows/terraform.integration.yaml
  .github/workflows/yaml.integration.yaml
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

Fix tflint failed code
  modules/msk-cluster/cluster.tf
  modules/msk-cluster/outputs.tf
Labels: :floppy_disk: msk-cluster

Fix tflint failed code (#31)
  modules/msk-cluster/cluster.tf
  modules/msk-cluster/outputs.tf
Labels: :floppy_disk: msk-cluster

Update workflow
  .github/workflows/terraform.integration.yaml
Labels: none

Update github workflows
  .github/workflows/terraform.integration.yaml
  .github/workflows/yaml.integration.yaml
Labels: none

Update pre-commit config
  .pre-commit-config.yaml
Labels: none

.github/labeler.yaml:

# Modules
":floppy_disk: msk-cluster":
- modules/msk-cluster/**/*

":floppy_disk: resource-group":
- modules/resource-group/**/*

":floppy_disk: s3-archive-bucket":
- modules/s3-archive-bucket/**/*

":floppy_disk: sqs-aws-event-queue":
- modules/sqs-aws-event-queue/**/*
